<html>
	<head>
		<link href="{{ root }}css/core/block-host/style.css" rel="stylesheet" type="text/css" />
		<link href="{{ root }}css/core/block-plugin-twitter-bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="{{ root }}css/core/block-plugin-twitter-bootstrap/bootstrap-responsive-min.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<h1>Public Site</h1>
		{% block body %}
			<p>Extend me.</p>
		{% endblock %}
	</body>
</html>